body {
    background: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: 40px auto;
    padding: 25px;
    background: #ffffff;
    border-radius: 12px;
}

.container h1 {
    text-align: center;
    font-size: 26px;
    color: #333;
    margin-bottom: 25px;
}

.box {
    margin-bottom: 18px;
}

.box p {
    margin: 0 0 6px 0;
    font-size: 15px;
    color: #444;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="date"],
select {
    width: 93%;
    padding: 11px 12px;
    border: 1px solid #d4d4d4;
    border-radius: 6px;
    font-size: 15px;
    background: #fafafa;
}

/* input:focus,
select:focus {
    border-color: #ff5f8f;
    background: #fff;
    outline: none;
} */

input[type="submit"] {
    width: 100%;
    padding: 11px;
    background: #ff5f8f;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 6px;

}


.warning {
    text-align: center;
    color: #e60000;
    font-weight: bold;
    margin-top: 15px;
}
